[project]
	description = Zhiying678's Blog
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/zhiying678 (zhiying678)
[access "refs/for/refs/*"]
	read = group user/zhiying678 (zhiying678)
	push = group user/zhiying678 (zhiying678)
	label-Code-Review = -2..+2 group user/zhiying678 (zhiying678)
	label-Verified = -1..+1 group user/zhiying678 (zhiying678)
	rebase = group user/zhiying678 (zhiying678)
	removeReviewer = group user/zhiying678 (zhiying678)
	submit = group user/zhiying678 (zhiying678)
[access "refs/heads/*"]
	read = group user/zhiying678 (zhiying678)
	create = group user/zhiying678 (zhiying678)
	push = +force group user/zhiying678 (zhiying678)
	pushMerge = group user/zhiying678 (zhiying678)
[access "refs/tags/*"]
	push = +force group user/zhiying678 (zhiying678)
	pushTag = group user/zhiying678 (zhiying678)
	pushSignedTag = group user/zhiying678 (zhiying678)
